@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oleo+Script+Swash+Caps&display=swap');

#cuadroDeCompras {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1rem;
    justify-content: space-around
}

#botoneraDeFiltros {
    display: flex;
    justify-content: space-around
}

/* body section {
    display: flex;
    flex-direction: row;
} */

.boton {
    border-radius: 100px;
    border-color: brown;
}

.fondo:hover {
    background-color: green;
}

.fondo2:hover {
    background-color: red;
}

#botonVegano,
#todo,
#botonCarne {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#productoDiv {
    margin-right: 1rem;
    margin-left: 1rem;
    height: 8rem;
}


body {
    background-color: whitesmoke;
}

img {
    height: 12rem;
}

.fondoCard1 {
    background-color: cadetblue
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    font-weight:bold;
    text-align: center;
}
/* #212121 nav y footer */

/* --appcolor: #BE1F0A; */