#cuadroDeCompras {
    display: flex;
    flex-wrap: nowrap;
    justify-items: left;
    align-items: flex-start;
    width: 90%;
    margin-right: 1rem;
}

#botoneraDeFiltros {
    display: flex;
    flex-direction: column;
}

body section {
    display: flex;
    flex-direction: row;
}

.boton {
    border-radius: 300px
}

.fondo:hover {
    background-color: green;
}

.fondo2:hover {
    background-color: red;
}

#botonVegano,
#todo,
#botonCarne {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#productoDiv {
    margin-right: 1rem;
    margin-left: 1rem;
    height: 8rem;
}

#cajaDeCarrito{
    margin-top: 2rem;
}